body, html{
    width: auto;
}

.que.siyavulaqt .answer div.r0,
.que.siyavulaqt .answer div.r1 {
    padding: 0.3em;
}

.que.siyavulaqt .sv-form__actions {
    display: none;
}

#show-hide-solution {
    display: none;
}

#page-mod-quiz-attempt .feedback--incorrect {
    display: none;
}

#page-mod-quiz-attempt .feedback--empty {
    display: none;
}

#page-mod-quiz-attempt .feedback--correct {
    display: none;
}

#page-mod-quiz-attempt .feedback--empty {
    display: none;
}

#page-mod-quiz-attempt #incorrect-solution {
    display: none;
}

#page-mod-quiz-attempt .attempts {
    display: none;
}
