body, html{
    width: auto;
}

.que.siyavulaqt .answer div.r0,
.que.siyavulaqt .answer div.r1 {
    padding: 0.3em;
}

.que.siyavulaqt .sv-form__actions {
    display: none;
}

#show-hide-solution {
    visibility: hidden;
}

.feedback .feedback--1 .feedback--incorrect {
    display: none;
}

.feedback .feedback--1 .feedback--empty {
    display: none;
}

.feedback .feedback--1 .feedback--correct {
    display: none;
}

.feedback .feedback--1 .feedback--empty {
    display: none;
}

#incorrect-solution {
    display: none;
}

.attempts {
    visibility: hidden;
}
